body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root{
  --primary-color: rgb(45, 0, 128);
  --secondary-color: rgb(30, 1, 83);
}
.home-bg{
  background-image: url(../images/ship.jpg);
}
.contact-bg{
  background-image: url(../images/contact.jpg);
}
.application-bg{
  background-image: url(../images/application.jpg);
}
